body {
    font-family: "Delius Swash Caps", sans-serif;
    margin: 0;
    padding: 0;

}

.navigation-header {
    display: flex;
    background: rgba(43,87,43,0.76);
    height: 80px;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    height: 50px;
    width: 50px;
    margin-left: 20px;
    border-radius: 50%;
}

.header-left h1 {
    margin-left: 20px;
    color: antiquewhite;
}

.navigation-header ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navigation-header li {
    margin-right: 40px;
    text-decoration: none ;
}

.navigation-header a {
    text-decoration: none;
    color: antiquewhite;
    border: solid 1px;
    border-radius: 5px;
    padding: 10px;
}

.navigation-header a:hover {
    color: white;
    transition: color 0.2s ease-in-out;
}

.navigation-header a.selected {
    background-color: darkolivegreen;
}

.background-image {
    width: 100vw;
    height: 70vh;
    object-fit: cover;
    border-top: 10px solid rgb(53, 209, 144);
    border-bottom: 10px solid rgb(209, 113, 53);
}

.description-card {
    width: 75vw;
    max-width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    margin-top: 7em;
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    max-width: 800px;
    text-align: center;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 20px;
    border-top: 10px solid rgb(53, 209, 144);
    border-bottom: 10px solid rgb(209, 113, 53);
}

table {
    border-collapse: collapse;
}

th {
    height: 4em;
}

td {
    height: 3em;
}

.food-cards {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.food-card {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5%;
    margin: 25px;
}

