:root {
    --bs-primary: darkolivegreen;
}

body {
    font-family: "Delius Swash Caps", sans-serif;
    margin: 0;
    background-image: url('public/bkg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; height: 100vh;
}

nav {
    background-color: darkolivegreen !important;
}

.welcome-container {
    background-color: #00000077;
    padding: 2rem;
    width: 100%;
    max-width: 600px;
    height: 75vh;
    margin: 20px auto;
    border-radius: 10px;
    border: solid 1px black;
}



.text-welcome {
    margin-top: 25px;
    color: antiquewhite;
}


.menu {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.application-form {
    width: 600px;
    height: auto;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 20px;
    border-top: 10px solid rgb(53, 209, 144);
    border-bottom: 10px solid rgb(209, 113, 53);
}

form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.input-block {
    width: 80%;
    margin-top: 15px;
    text-align: right;
}

.colorbox {
    display: inline;
    border-radius: 5px;
}

#d-orange {
    background-color: orange;
}

#d-olive {
    background-color: olive;
}

#d-cyan {
    background-color: darkcyan;
}

#d-tan {
    background-color: tan;
}

#d-thistle {
    background-color: thistle;
}

footer {
    position: absolute;
    top: auto;
    background-color: darkolivegreen;
    margin-top: 100px;
    text-align: center;
    padding: 25px;
}

